MONGODB_URI=mongodb+srv://bytebuddy:MwIIVJzvrcFnTwnn@cluster0.mqbsh6f.mongodb.net/portfolio
GEMINI_API_KEY=AIzaSyA1_2wUhZh8ujKSEImeZi-Fp7NErMDTldc
JWT_SECRET=sunni-portfolio-secret
NEXT_PUBLIC_SITE_URL=http://localhost:3000
